# Basics #
API_ID = "24828197" # https://my.telegram.org
API_HASH = "d36e278e89ebeb900aeda4128d413a77" # https://my.telegram.org
BOT_TOKEN = ""

# Authorization # - List of id's, separated by space -
OWNER_ID = "7660990923"
SUDO_USERS = "2089948673"
EVERYONE_CHATS = ""

# Log Channel #
LOG_CHANNEL = ""

# Database #
SESSION_NAME = "encoderbot"
MONGO_URI = "mongodb+srv://Krishna:krishna@cluster0.ecime.mongodb.net/"

# Google Drive #
INDEX_URL = ""
DRIVE_DIR = ""

# Optional #
DOWNLOAD_DIR = "VideoEncoder/downloads/"
ENCODE_DIR = "VideoEncoder/encodes/"